@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./components/base";
@import "./components/mobile-menu";
@import "./components/logo";
@import "./components/header";
@import "./components/hero";
@import "./components/btn-hero";
@import "./components/form-user-modal";
@import "./components/backdrop";
@import "./components/modal";
@import "./components/close-btn";
@import "./components/content";
@import "./components/about";
@import "./components/team";
@import "./components/social-nw";
@import "./components/client";
@import "./components/btn-portfolio";
@import "./components/portfolio";
@import "./components/projects";
@import "./components/footer-general";
@import "./components/form-footer";