.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $backdrop-color;
    opacity: 1;
    transition: opacity 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: $tablet) {
        padding: 208px 159px 207px;
    }
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden {
    
    .modal {
    transform: translate(-50%, -50%) scale(0.9);
    }
} 