.button-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    @media screen and (min-width: $tablet) {
        justify-content: center;
        margin-bottom: 30px;
      }
      @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
      }
}
.button-list__item:not(:last-child) {
    margin-right: 8px;
}
.button { 
    color: $titel-text-color;
    background: $section-command-color;
    font-family: Roboto, sans-serif;
    display: block;
    font-family: inherit;
    font-style: normal;
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 1.625;
    padding: 6px 22px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
       color: $section-command-color;
       background-color: $accent-color;
       text-shadow: $shadow-drop-color;
       cursor: pointer;
       border: none;
       box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
       0px 1px 1px rgba(0, 0, 0, 0.14), 
       0px 2px 1px rgba(0, 0, 0, 0.2);;
    }
}