.form-user-modal {
    padding: 40px;
}
.form-title {
    margin-bottom: 12px;
    color: $titel-text-color;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 1.15;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
@media screen and (min-width: $desktop) {
        line-height: 1.15;
    }
}
.form-lable {
    display: flex;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    flex-direction: column;
}
.lable-text {
    margin-bottom: 4px;
    color: $main-content-color;
}
.form-wrapper {
    display: block;
    position: relative;
}
.form-input {
    border: 1px solid $form-border-color;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    padding-left: 42px;
    padding-right: 42px;
    line-height: 1.143;
    letter-spacing: 0.01em;
    transition: border-color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 1px solid $accent-color;
        outline: none;
    }
}
.form-input__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    fill: $titel-text-color;
    transform: translateY(-50%);
    transition: color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment {
    font-family: Roboto,sans-serif;
    width: 100%;
    height: 120px;
    resize: none;
    color: $placeholder-color;
    border: 1px solid $placeholder-color;
    border-radius: 4px;
    padding: 12px 16px;
    line-height: 1.143;
    letter-spacing: 0.01em;
    transition: border-color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 1px solid $accent-color;
        outline: none;
    }
}
.form-input + .form-input__icon,
.form-input + .form-input__icon{
    transition-property:  fill;
    transition-duration: 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover + .form-input__icon,
.form-input:focus + .form-input__icon{
    fill: $accent-color;
}
.form-check {
    border: 2px solid $accent-color;
    border-radius: 2px;

    &:focus,
    &:hover {
        border: 2px solid $accent-color;
    }
}
.form-check:focus + .check-icon {
    border: 2px solid $accent-color;
}
.form-check-lable {
    align-items: center;
    margin-bottom: 30px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
}
.check-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid $titel-text-color;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 7px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-check:checked + .check-icon {
    background-color: $accent-color;
    border-color: $accent-color;
    background-image: url("../images/icon-heck.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
}
.check-link {
    color: $accent-color;
    text-decoration: underline;
    padding-left: 7px;

    &:hover,
    &:focus {
    text-decoration: none;
    }
}
.button-check {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.form__btn {
    padding: 10px 55px;
}
.btn {
    display: flex;
    align-items: center;
    background: $accent-color;
    font-family: inherit;
    font-family: Roboto, sans-serif;
    padding: 10px 32px;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: $primary-whit-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: $button-hover-color;
    cursor: pointer;
    }
}
