.header-contact__container {
    display: flex;
    align-items: center;
}
.header-contact {
    height: 60px;
    @media screen and (max-width: $tablet - 1) {
      padding-top: 16px;
}
    border-bottom: 1px solid $top-lain;
    @media screen and (min-width: $tablet) {
      min-height: 80px;
}
}
.nav-block {
    @media screen and (max-width: $tablet - 1) {
        width: 100%;
      }
      display: flex;
      align-items: center;
}


.site-nav {
    display: none;
    padding-right: 40px;
    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: center;
    }
}
.site-nav__item {

    &:not(:last-child){
       margin-right: 50px;
    }
}
.site-nav__link--current {
    color: $accent-color;
}
.site-nav__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 32px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: $accent-color;
    }
}
.site-nav__link--current {
    
    &:after {
       position: absolute;
       bottom: -1px;
       left: 0;
       content: "";
       height: 4px;
       width: 100%;
       border-radius: 2px;
       background-color: $accent-color;
    }
}
.contact-list {
    display: none;
    @media screen and (min-width: $tablet) {
        display: block;
    }
    @media screen and (min-width: $desktop) {
        display: flex;
        justify-content: right;
        align-items: center;
    }
}
.contact-list__item:not(:last-child){
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
        margin-bottom: 10px;
      }
}
.contact-list__item:not(:last-child){
    @media screen and (min-width: $desktop) {
        margin-left: 200px;
      }
}
.contact-list__item {
    margin-right: 30px;
    &:focus,
    &:hover {
        color: $accent-color;
    }
@media screen and(min-width: 1200px) {
        margin-top: 0px;
        margin-left: 30px;
        margin-bottom: 0px;
      }
}
.contact-list__link {
    display: block;
    color: $main-content-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}
.header-contact 
.site-nav
.contact-list {
    transition: color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
    align-content: center;
}
.icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
    align-content: center;
}
