.section-hero {
    background-color: $hero-color;
    background-image: 
    linear-gradient($overlay-color, $overlay-color), 
    url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
      }
      background-image: linear-gradient($overlay-color,$overlay-color),
        url("../images/img-adapt/mobile/mobile1xhero.jpg");
      background-size: cover;
      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient($overlay-color,$overlay-color),
          url("../images/img-adapt/mobile/mobile2xhero.jpg");
      }
      @media screen and (min-width: 481px) {
        background-image: linear-gradient($overlay-color,$overlay-color),
          url("../images/img-adapt/tablet/tablet1xhero.jpg");
      @media screen and (min-device-pixel-ratio: 2),
          screen and (-webkit-min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: linear-gradient($overlay-color,$overlay-color),
            url("../images/img-adapt/tablet/tablet2xhero.jpg");
        }
      }
      @media screen and (min-width: 769px) {
        background-image: linear-gradient($overlay-color,$overlay-color),
          url("../images/img-adapt/desctop/desctop1xhero.jpg");
      @media screen and (min-device-pixel-ratio: 2),
          screen and (-webkit-min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: linear-gradient($overlay-color,$overlay-color),
            url("../images/img-adapt/desctop/desctop2xhero.jpg");
        }
      }
}
.hero-title {
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-whit-color;
    margin: 0 auto 30px;
    width: 100%;
    @media screen and (min-width: $mobile) {
      width: 360px;
    }
    @media screen and (min-width: $desktop) {
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
}
.overlay {
    padding: 118px 15px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: $mobile) {
        max-width: $mobile;
    }
    
      @media screen and (min-width: $tablet) {
        max-width: $tablet;
    }
    
      @media screen and (min-width: $desktop) {
        max-width: $desktop;
    }
}