.footer-container {
    display: flex;
    align-items: baseline;

    @media screen and (max-width: $desktop - 1) {
        align-items: center;
        flex-direction: column;
      }
      @media screen and (max-width: $tablet - 1) {
        padding-left: 15px;
        padding-right: 15px;
      }
      @media screen and (min-width: $desktop) {
        align-items: baseline;
      }
}
.social-networks-wrapper {
    margin-right: 93px;
    width: 206px;
    @media screen and (max-width: $tablet - 1) {
        margin-bottom: 60px;
      }
      @media screen and (min-width: $desktop) {
        margin-right: 93px;
      }
}
.social-networks-list {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
.social-networks-list__item {
    width: 44px;
    height: 44px;
}
.social-networks-list__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 12px;
    border-radius: 50%;
    fill: $command-icon-color;
    transition: background-color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus {
        background-color: $accent-color;
        fill: $primary-whit-color;
      }
}
.social-networks__text {
    @media screen and (max-width: $desktop - 1) {
        text-align: center;
    }
    font-weight: bold;
    line-height: 1.143;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.social-networks-list__btn--bg {
    background: $footer-icon-bt;
    fill: $primary-whit-color;
}