
    $titel-text-color:#212121;
    $primary-whit-color:#FFFFFF;
    $logo-color:#000000;
    $hero-color:#2F303A;
    $accent-color: #2196F3;
    $button-hover-color:#188CE8;
    $main-content-color:#757575;
    $section-command-color:#F5F4FA;
    $portfolio-color:#E5E5E5;
    $shadow-box-color: rgba(0, 0, 0, 0.15);
    $shadow-drop-color: rgba(0, 0, 0, 0.25);
    $top-lain:#ECECEC;
    $footer-link-color: rgba(255, 255, 255, 0.6);
    $text-shadow: 2px 1px 5px #2c2c31;
    $card-color:#eeeeee;
    $header-icon-color:#757575;
    $command-icon-color:#afb1b8;
    $overlay-color: rgba(47, 48, 58, 0.4);
    $footer-icon-bt: rgba(255, 255, 255, 0.1);
    $backdrop-color:rgba(0, 0, 0, 0.2);
    $card-overlay-color: rgba(33, 150, 243, 0.9);
    $form-border-color: rgba(33, 33, 33, 0.2);
    $placeholder-color: rgba(117, 117, 117, 0.5);